<!DOCTYPE html>
<html ng-app="NoteWrangler">
<head>
<meta charset="ISO-8859-1">
<title>Note wrangler</title>
<link rel="stylesheet" href="assets/styles/bootstrap.css"></link>
<link rel="stylesheet" href="assets/styles/bootstrap-theme.css"></link>
</head>
<body>

<h1>Hello world!</h1>

</body>

<!-- vendor -->
<script type="text/javascript" src="assets/javascript/vendors/jquery.js"></script>
<script type="text/javascript" src="assets/javascript/vendors/angular.js"></script>
<script type="text/javascript" src="assets/javascript/vendors/angular-route.js"></script>
<script type="text/javascript" src="assets/javascript/vendors/angular-resource.js"></script>
<!-- App -->
<script type="text/javascript" src="assets/app.js"></script>
<script type="text/javascript" src="assets/routes.js"></script>
<!-- Directives -->
<!-- Controllers -->
<!-- Services -->
</html>